@font-face {
    font-family: 'SinclairR';
    src: url('fonts/FSSinclairBold.otf') format('opentype');
    /* Specify font format */
}

* {
    margin: 0;
    padding: 0;
    color: white;
    font-family: 'SinclairR', sans-serif;
}

:root {
    --cellSize: calc(min(100vh, 150vw)/1.7);
    --cellFontSize: calc(min(25dvh, 35dvw));
    --headerAndFooterFontSize: calc(min(3dvh, 3dvw));
    --playerTurnFontSize: calc(min(4dvh, 4dvw));
}

header,
footer {
    display: flex;
    height: 10vh;
    align-items: center;
    justify-content: center;
    font-size: var(--headerAndFooterFontSize);
}

body {
    background-color: #2b2a37;
    height: 100vh;
    width: auto;
    margin: 0;
}

#main {
    height: 80vh;
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

#turnContainer {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    font-size: var(--playerTurnFontSize);
    margin-top: 4%;
    margin-bottom: 10%;
}

.align {
    display: flex;
    align-items: center;
}

#turn {
    /* padding-left: 56%; */
    transition: margin 0.3s ease-in-out;
    /* padding-left: 44%; */
    margin-left: 43%;
    grid-column: 1/3;
    visibility: hidden;
}

.players {
    text-align: center;
    border: solid;
}


#game {
    height: auto;
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.board {
    font-size: var(--cellFontSize);
    display: grid;
    width: var(--cellSize);
    height: var(--cellSize);
    grid-template-columns: repeat(3, 1fr);
    user-select: none;
}

.cell {
    line-height: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    border: solid white;
    cursor: pointer;
}

.expiring {
    animation: blinker 1.5s linear infinite;
}

@keyframes blinker {
    50% {
        opacity: 0;
    }
}

.board :first-child,
:nth-child(4),
:nth-child(7) {
    border-left: none;
}

.board :nth-child(3n+3) {
    border-right: none;
}

.board :nth-child(-n+3) {
    border-top: none;
}

.board :nth-child(n+7) {
    border-bottom: none;
}

.cell:hover {
    transition: background-color 0.3s ease-in-out;
    background-color: rgba(255, 0, 89, 0.3);
}

.win {
    transition: background-color 0.3s ease-in-out;
    background-color: rgba(0, 89, 255, 0.3);
}